- var navigation = [{ link: 'about.html', text: 'О центре' }, { link: 'services.html', text: 'Услуги' }, { link: 'warranty.html', text: 'Гарантия' }, { link: 'contact.html', text: 'Контакты' } ]
- var typeOfTechnicians = [{ link: 'product-filter.html', text: 'Смартфоны' }, { link: '#', text: 'Телевизоры' }, { link: '#', text: 'Планшеты' },{ link: '#', text: 'Мониторы' },{ link: '#', text: 'Ноутбуки' },{ link: '#', text: 'Проекторы' },{ link: '#', text: 'Микроволновки' },{ link: '#', text: 'Холодильники' },{ link: '#', text: 'Посудомойные машины' },{ link: '#', text: 'Сушительные машины' },{ link: '#', text: 'Стиральные машины' },{ link: '#', text: 'Климатические комплексы' }]

include ../components/newsletter

<!--================ Footer Area Start =================-->
footer
    .bg-c2c.pt-60
        .content
            h2.section__title.mb-30.text-center.fw-300 Наши контакты
            .row.pb-120
                .col-md-4.col-sm-4.text-center
                    .mb-20.fw-300.circle
                        svg(width="26" height="26" viewBox="0 0 26 26" fill="#ffffff" xmlns="http://www.w3.org/2000/svg")
                            path(d="M25.4171 20.5477L21.4018 16.5319C20.602 15.7354 19.2776 15.7596 18.45 16.5875L16.427 18.61C16.2992 18.5395 16.167 18.4659 16.0279 18.3879C14.7504 17.6801 13.002 16.7099 11.1622 14.8687C9.31687 13.0237 8.34582 11.2726 7.63584 9.99428C7.56092 9.85886 7.48913 9.72829 7.41825 9.6043L8.77592 8.24864L9.44341 7.58033C10.2723 6.7512 10.2952 5.42714 9.49726 4.62827L5.48197 0.612079C4.68407 -0.185675 3.35904 -0.161474 2.53013 0.667653L1.39849 1.8058L1.42941 1.8365C1.04995 2.32068 0.73287 2.87911 0.496905 3.48131C0.279389 4.05452 0.143965 4.60152 0.0820423 5.14964C-0.448151 9.54506 1.56043 13.5621 7.01145 19.0132C14.5464 26.5477 20.6186 25.9785 20.8806 25.9507C21.4511 25.8825 21.9979 25.7462 22.5535 25.5304C23.1505 25.2972 23.7086 24.9806 24.1925 24.6019L24.2172 24.6239L25.3636 23.5013C26.1908 22.6723 26.2146 21.3478 25.4171 20.5477Z" fill="#ffffff")
                    h6.fw-300 Телефон
                    p +7 (812) 407-13-68
                .col-md-4.col-sm-4.text-center
                    .mb-20.fw-300.circle
                        svg(width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M16.4391 2.66709C14.7193 0.947276 12.4325 0 10.0005 0C7.56794 0 5.28165 0.947276 3.56184 2.66709C0.379084 5.84937 -0.0164455 11.8369 2.70525 15.4646L10.0005 26L17.2848 15.4793C20.0174 11.8369 19.6218 5.84937 16.4391 2.66709ZM10.0845 12.3455C8.25216 12.3455 6.76073 10.854 6.76073 9.02168C6.76073 7.18933 8.25216 5.6979 10.0845 5.6979C11.9169 5.6979 13.4083 7.18933 13.4083 9.02168C13.4083 10.854 11.9169 12.3455 10.0845 12.3455Z" fill="#ffffff")
                    h6.fw-300 Адрес
                    p Санкт-Петербург, Кирочная ул., 29
                .col-md-4.col-sm-4.text-center
                    .mb-20.fw-300.circle
                        svg(width="26" height="26" viewBox="0 0 26 26" fill="#ffffff" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12.9998 0C5.82028 0 0 5.82046 0 12.9998C0 20.1791 5.82028 26 12.9998 26C20.1793 26 26 20.1791 26 12.9998C26 5.82046 20.1793 0 12.9998 0ZM18.6199 15.4723H13.1086C13.0899 15.4723 13.0726 15.4678 13.0541 15.4671C13.0357 15.468 13.0184 15.4723 12.9997 15.4723C12.5032 15.4723 12.1006 15.0698 12.1006 14.5732V5.395C12.1006 4.89848 12.5032 4.49591 12.9997 4.49591C13.4962 4.49591 13.8988 4.89848 13.8988 5.395V13.6741H18.6196C19.1161 13.6741 19.5187 14.0767 19.5187 14.5732C19.5187 15.0698 19.1165 15.4723 18.6199 15.4723Z" fill="#ffffff" )
                    h6.fw-300 Время работы
                    p ежедневно с 9.00 до 21.00

            .row.pb-50
                .col-md-6.box
                    .footer__list.pr-100
                        h4.fw-600.mb-20 Меню
                        ul
                            each item in navigation
                                li.fw-400
                                    a.footer-menu-link(href=item.link) #{item.text}

                    .footer__list.footer__second__list.p-0
                        h4.fw-600.mb-20 Тип техники
                        ul.footer__list__items
                            each item in typeOfTechnicians
                                li.fw-400
                                    a.footer-menu-link(href=item.link) #{item.text}
                .col-md-6.col-sm-12
                    .map__location
                        img(src=getImage("/map.png"))
    .copyright
        .content
            p © 2020 LG. Все права защищены.

<!--================ Footer Area End =================-->
