extends chunks/common/base/base

block variables
    - var pageTitle = 'Single Page'

block mainContent
    .content
        <!--================ Filtered Products Info Area Start =================-->
        section.filtered__products.pt-50.mb-30
            .content
                .row
                    .col-md-6.d-flex.align-items-start
                        button.close__btn
                            img(src=getImage("/ellipseClose.png"))
                            img.close__btn__icon(src=getImage("/closeBtn.png"))
                        .filtered__products__img
                            img(src=getImage("/productsPic.png"))
                    .col-md-6
                        .filtered__products__desc
                            h6.font-20.fw-300 Не включается
                            h5.filtered__products__title.text-left.fw-400.mb-30   Стиральная машина с функцией пара Steam LG F4H5VS6W
                            ul
                                li.align-items-center
                                    .list__icon
                                        img(src=getImage("/checkmark.png"))
                                    .list__descriptiom
                                        p.font-size-list-small.fw-300  Наличие детали
                                            span.font-size-list-small.fw-600 Есть в наличии
                                li.align-items-center
                                    .list__icon
                                        img(src=getImage("/stopwatch.png"))
                                    .list__descriptiom
                                        p.font-size-list-small.fw-300  Время ремонта
                                            span.font-size-list-small.fw-600 45 мин.

                            .service__cost
                                span.font-size-extra-small.fw-300 Стоимость услуги
                                h3.filtered__products__title.fw-400.mb-10  26 990 руб.
                                .buttons__wrapper.mt-10
                                    button.font-size-extra-small Записаться на ремонт
                                    button.font-size-extra-small.outline Вызывать курьера бесплатно

                        div.positioned__img
                            img(src=getImage("/opacityBg.png"))

        <!--================ Filtered Products Info Area End =================-->


        <!--================ Filters Area Start =================-->

        section.filters__wrapper.mb-50
            .wrapper__content
                .row
                    include chunks/common/components/filters

        <!--================ Filters Area End =================-->


        include chunks/common/components/repeating-sectons